<!--my own code based on the knowledge from Walkthrough projects-->

{% extends "base.html" %}

{% block content %}
<!-- ABOUT PAGE -->
<div id="about" class="d-flex justify-content-center align-item-center pt-5">
    <div class="container pt-5">
    </div>
</div>
<section class="about-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 my-5 offset-md-2">
                <div class="row">
                    <h3>Hey there,</h3>
                    <p>PUT CONTENT HERE
                    </p>
                    <p>PUT CONTENT HERE</p>
                    <p>PUT CONTENT HERE</p>
                    <p>Happy Shopping!</p>
                    <p><em>SIGNATURE</em></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF THE ABOUT PAGE -->
{% endblock %}