<!--my own code based on the knowledge from Walkthrough projects-->
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- ABOUT PAGE -->
<div id="about" class="d-flex justify-content-center align-item-center pt-5">
    <div class="container pt-5">
    </div>
</div>
<section class="about-us">
    <div class="container-fluid padding-2">
        <div class="row">
            <div class="col-md-8 my-5 offset-md-2">
                <div class="row">
                    <h3>Our Mission</h3>
                    <br>
                    <p>1. Junk Food can transform into Super Food.</p>
                    <br>
                    <p>We strongly believe that chocolate can be just as nourishing as it is indulgent. So we are encouraging 
                        you to up the cacao in your diet and add extra nutrient rich ingredients to the mix when possible.
                    </p>
                    <br>
                    <p>2. Chocolate doesn’t have to be just a cheap commodity, it is a precious ingredient!</p>
                    <br>
                    <p>It’s time for high quality cacao to take the limelight! It’s usually a bit more expensive, 
                        but the cost of your health, wellbeing and the environment is much less! Besides, all the 
                        farming communities around the world get more out of this! So it’s a WIN-WIN!
                    </p>
                    <br>
                    <p>3. Together we can do it! We can move away from sugary generic flavours to the real taste of cacao!
                    </p>
                    <br>
                    <p>Many of our suppliers reduced or scrapped all together the refined sugar, dairy and palm fat, and 
                        put high quality cocoa nibs centre stage, you you get the true taste of real cacao in every bite. 
                        That’s if you’re ready for it. We all know well that old habits die hard…
                    </p>
                    <br>
                    <p>That’s why our mission at the Dark Chocolate for Ever is to change the way the world sees chocolate!
                    </p>
                    <br>
                    <p>It all started in 2018, when our founders, John and Petra, discovered in Guatemala, while on their 
                        family gap year trip around the world, that the original chocolate ingredient - the humble cacao bean - 
                        is a little gem of a superfood with huge health benefits and a centuries’ old tradition. 
                        Dismayed that chocolatehad lost its way worldwide, John and Petra vowed to champion good chocolate 
                        and put cacao back on the top. They teamed up with dark chocolatiers in the UK and Europe 
                        to bring you an extensive choice of dark chocolate indulgence!
                    </p>
                    <br>
                    <p>Wishing you many brighter days,</p>
                    <p>With love for dark chocolate,</p>
                    <br>
                    <p>Happy Shopping!</p>
                    <br>
                    <p><em>The Team Dark Chocolate for Ever </em></p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF THE ABOUT PAGE -->
{% endblock %}