{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 text-white text-uppercase">Dark chocolate pleasure</h1>
                <h2 class="logo-font display-5 text-white">in all shapes, tastes and sizes!</h2>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-3 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-12 my-auto">
                <div class="my-3 text-center">
                    <h4 class="logo-font">In love with dark chocolate?</h4>
                    <p>So are we.
                        Whether you are just getting acquainted, having a looong standing affair with dark chocolate 
                        or are already Chocoholic Extraordinaire, you can find something truly S-P-E-C-I-A-L here!
                        Scrumtious for your eyes and taste buds!
                        Perfect for a celebration!
                        Extatic for the right moment!
                        Comforting for a bad day!
                        Interesting for every occasion!
                        Artisan in making or simply
                        Ludicrously luxurious!</p>
                        <h5 class="logo-font"> Very Warm welcome, we are here to help you find it!</h5>
                </div>
            </div>
        </div>
    </div>


{% endblock %}