{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Terms" %}{% endblock %}

{% block inner_content %}

<hr>
<h2 class="logo-font mb-4 text-center text-blue">Our Terms and Conditions</h2>
<hr>
<!-- TERMS PAGE -->
<section class="terms-and-conditions">
    <div class="container-fluid padding-2">
        <div class="row">
            <div class="col-md-8 my-5 offset-md-2">
                <div class="row">
                    <div>
                        <h3>Shipping Policy and Delivery Information</h3>
                        <br>
                        <p>Orders placed before 11am Monday - Friday (excluding bank holidays) will be dispatched within 24 hours. 
                            We aim to deliver all orders within 2-4 business days from the receipt of order confirmation, 
                            unless there are exceptional circumstances.
                        </p>
                        <p>Express shipping is standard during summer months in order to reduce the impact of hot weather on deliveries.</p>
                        <p>If you place a pre-order before the availability date shown on the relevant page of our Website (and we accept
                            it), the pre-ordered products will be despatched on the availability date and delivered by the delivery date
                            set out in the Order Confirmation but in any case not later than 4 business days after the date of the Order 
                            Confirmation.
                        </p>
                        <p>Your order will be delivered to the delivery address you specify when placing your order. If your delivery 
                            address is geographically remote, for example certain outlying islands or other isolated locations, it is 
                            possible that we may not be able to deliver there. If that is the case, we will notify you before we accept
                            your order. Orders cannot be delivered to PO Box or similar addresses.
                        </p>
                        <p>Products comprised within the same order cannot be delivered to different addresses. Deliveries are made by 
                            Royal Mail or DPD (UK) (within the United Kingdom) and take place on Monday to Saturday, excluding bank and 
                            public holidays, usually within the hours of 8am and 5pm. It is not possible to specify a precise time at 
                            which a delivery will take place. Please note that the courier may require deliveries to be signed for.
                            Deliveries will be made to your door. Our courier will not be responsible for any additional carrying, 
                            unpacking or positioning of products.
                        </p>
                        <br>
                        <h3>Summer Shipping Policy</h3>
                        <br>
                        <p>Orders placed during the summer months will be shipped in additional temperature controlled packaging 
                            and sent out on a 24 hour service (via DPD or Yodel).
                        </p>
                        <p>In periods of extreme heat, Dark Chocolate For Ever Ltd reserves the right to hold orders in our warehouse 
                            to ensure that they are not affected by extreme hot weather. You will be notified if your order is affected 
                            and will receive email confirmation once your order has been dispatched. 
                        </p>
                        <br>
                        <p>Please get in touch directly at office@darkchocolateforever.com for more information regarding your order.</p>
                        <br>
                        <p>Express shipping is standard during summer months in order to reduce the impact of hot weather on deliveries.</p>
                        <br>
                        <p>Happy Shopping!</p>
                        <br>
                        <p><em>The Team Dark Chocolate for Ever</em></p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END OF THE TERMS PAGE -->
{% endblock %}
