{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block inner_content %}

<br>
<h2 class="logo-font mb-4 text-center text-blue">500 Error</h2>
<hr>
<!-- 500 PAGE -->
<section class="about-us">
  <div class="container-fluid padding-2">
      <div class="row">
          <div class="col-md-8 my-5 offset-md-2">
            <div class="row">
                <h3>SORRY, SOMETHING WENT WRONG ON OUR END...</h3>
                <p>We are currently trying to fix the problem.</p>
                <p>In the mean time, you can wait a few minutes...</p>
                <p>Have a cuppa... Take a nap. Or meditate. ;-)</p>
                <p>And refresh the page.</p>
                <a href="{% url 'home' %}" class="btn btn-blue btn-lg">
                    For now, we'll take you back home, ok?
                </a>
            </div>
          </div>
      </div>
  </div>
</section>
<!-- END OF THE 500 PAGE -->
{% endblock %}
