{% extends 'base.html' %}
{% load static %}
{% block title %} | 404 Page {% endblock %}
{% block content %}

<!-- My own code I previously used in my Milestone Project 4-->
<!-- 400 Error handler -->
<section class="404-page">
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-md-8 my-5 offset-md-2 pt-5">
                <div class="row">
                    <h3>Oops, something went wrong...This is a 404 ERROR</h3>
                    <p>Really sorry, but the page you are looking for has not been found. :-(</p>
                    <p>As the page you are trying to reach does not exist, we'll take you back home, ok?</p>
                    <a href="{% url 'home' %}" class="btn btn-signup btn-lg" aria-label="back home button">
                        YES, PLEASE, TAKE ME HOME.
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}