<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black text-uppercase" href="" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'home'%}" class="dropdown-item">Home</a>
                <a href="{% url 'about'%}" class="dropdown-item">About</a>
                <a href="{% url 'terms'%}" class="dropdown-item">Terms & Conditions</a>
                <a href="{% url 'contact'%}" class="dropdown-item">Contact Us</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5 text-uppercase" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products'%}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products'%}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products'%}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5 text-uppercase" href="#" id="chocolate-bars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chocolate Bars
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="chocolate-bars-link">
                <a href="{% url 'products' %}?category=Plain" class="dropdown-item">Plain</a>
                <a href="{% url 'products' %}?category=Nutty" class="dropdown-item">Nutty</a>
                <a href="{% url 'products' %}?category=Fruity" class="dropdown-item">Fruity</a>
                <a href="{% url 'products' %}?category=Boozy" class="dropdown-item">Boozy</a>
                <a href="{% url 'products' %}?category=Spicy" class="dropdown-item">Spicy</a>
                <a href="{% url 'products' %}?category=Minty" class="dropdown-item">Minty</a>
                <a href="{% url 'products' %}?category=Caramel" class="dropdown-item">Caramel</a>
                <a href="{% url 'products' %}?category=Coffee" class="dropdown-item">Coffee</a>
                <a href="{% url 'products' %}?category=Plain,Nutty,Fruity,Boozy,Spicy,Minty,Caramel,Coffee" class="dropdown-item">All Bars</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black text-uppercase mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gifts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'hampers' %}" class="dropdown-item">Gift Hampers</a>
                <a href="{% url 'vouchers' %}" class="dropdown-item">Gift Vouchers</a>
                <a href="{% url 'subscriptions' %}" class="dropdown-item">Subscriptions</a>
            </div>
        </li>
        
    </ul>
</div>