{% load static %}

<!doctype html>
<html lang="en">
  <head>
    
    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Dark Chocolate for Ever is online shop selling dark chocolate">
      <meta name="keywords" content="dark chocolate, dark chocolate bar, minty dark chocolate, dark chocolate with nuts, 
        dark chocolate with alcohol, dark chocolate with fruit, dark chocolate for vegans, paleo dark chocolate, buy dark chocolate,
        buy dark chocolate online, sugar free dark chocolate, dark chocolate with coffee, salted caramel dark chocolate, 
        100 % dark chocolate">
      <meta name="author" content="Petra Snazle">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
      <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
      <!-- Stripe -->
      <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Dark Chocolate for Ever {% block extra_title %}{% endblock %}</title>
     <!--Favicon-->
     <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon.png' %}">
  </head>
  <body>
    <header class="container-fluid fixed-top">
      <div id="delivery-banner" class="row text-center">
        <div class="col text-white">
          <h4 class="my-1">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>
        </div>
      </div>
      <div id="top-nav" class="row bg-white pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
          <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <h2 class="logo-font text-black my-0"><strong>Dark Chocolate For Ever</strong></h2>
          </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
              <input class="form-control border border-black rounded-3" type="text" name="q" placeholder="search our site">
              <div class="input-group-append">
                <button class="form-control btn btn-black border border-black rounded-3" type="submit">
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item dropdown">
              <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                  <div><i class="fas fa-user fa-lg"></i></div>
                  <p class="my-0">My account</p>
                </div>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                  {% endif %}
                  <a href="{% url 'profile' %}" class="dropdown-item">My profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
              </div>
            </li>
            <li class="list-inline-item">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %}nav-link" href="{% url 'view_bag' %}">
                <div class="text-center">
                  <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                  <p class="my-0">
                    {% if grand_total %}
                      £{{ grand_total|floatformat:2 }}
                    {% else %}
                      £0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% include 'includes/mobile-top-header.html' %}
          {% include 'includes/main-nav.html' %}
        </nav>
      </div>
    </header>

    {% if messages %}
      <div class="message-container">
        {% for message in messages %}
          {% with message.level as level %}
            {% if level == 40 %}
              {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
              {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
              {% include 'includes/toasts/toast_success.html' %}
            {% else %}
              {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
    {% endif %}
  
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
      $(document).ready(function() {
        $('.toast').toast('show');
      })
    </script>
    {% endblock %}

    <!-- Footer -->
    <footer class="footer mt-3 py-3 bg-brown" id="footer">
      <div class="container">
        <div class="row">
          <!--Newsletter signup-->
          <div class="col-sm-12 col-md-6 text-left">
            <h6 class="font-weight-bold text-blue">Let's stay in touch!</h6>
            <form action="{% url 'newsletter_signup' %}" id="newsletter-signup-form" method="POST" autocomplete="off" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="rounded px-3 mb-5">
                <legend class="fieldset-label small text-black px-2 w-auto text-blue"></legend>
                {{ newsletter_form.full_name | as_crispy_field }}
                {{ newsletter_form.email | as_crispy_field }}
                <button id="submit-button" class="btn btn-blue rounded-3">
                  <span class="font-weight-bold">Subscribe to Our Newsletter</span>
              </button>
              </fieldset>
          </form>

          </div>
          <div class="col-6 md-3">
            <h6 class="font-weight-bold text-blue">Quick Links</h6>
            <ul class="footer-links list-unstyled">
              <li><a href="#" class="text-white">Contact Us</a></li>
              <li><a href="{% url 'about' %}" class="text-white">About</a></li>
              <li><a href="{% url 'terms' %}" class="text-white">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="m-0 text-left text-blue logo-font">Made with love by Dark Chocolate for Ever <span>&copy; 2023</span>
            </p>
          </div>
          <div class="col-md-4 col-sm-6 col-12 text-lg-right">
            <!--Social Media Links-->
            <ul>
              <a class="px-1 text-white" href="https://www.facebook.com/DarkChocolateForEver/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook-square ms-3"></i>
              </a>
              <a class="px-1 text-white" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-instagram-square ms-3"></i>
              </a>
              <a class="px-1 text-white" href="https://youtube.com/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-youtube-square ms-3"></i>
              </a>
            </ul>
          </div>
        </div>
      </div>
  
  </footer>

    
  </body>
</html>