<!--This is my original custom model with associated functionalities that 
hasn't been used in the CI Django Walkthrough projects. It has been 
created by following and tweaking the Youtube Django Tutorial #9: 
A More Complex Form (2022) by Django tutorials (see README file) 
AND with a kind advice and help of my mentor. -->


{% extends "base.html" %}

{% block title %}Contact Us{% endblock title%}

{% block content %}

<div class="container pt-5">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2 pt-5">
          <h3>Hey there! Your question has been submitted succesfully. :-)</h3>
          <p>We'll be in touch as soon as we can.</p>
      </div>
    </div>
  </div>

{%endblock content %}