{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    <p class="lead mb-0 text-left small text-blue">{{ product.size }}</p>
                    {% if product.cocoa_mass %}
                        <small class="text-muted">Cocoa content: {{ product.cocoa_mass }}</small>
                    {% else %}
                        <small class="text-muted">Cocoa content not known</small>
                    {% endif %}
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> |
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3 text-blue"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-3"
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" 
                                            name="quantity" value="1" min="1" max="99" 
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-blue rounded-3"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-3 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-blue rounded-3 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="col-md-9">
                    <!-- Rating Stars - code based on my knowledge from Udemy course by R. Kumar, see Readme -->
                    {% if user.is_authenticated %}
                        <form action="{% url 'submit_review' product.id %}" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <h5>Write Your Review</h5>
                            <div>
                                <label for="">How do you rate this product?</label>
                                <br>
                                <div class="rate">
                                    <input type="radio" name="rating" id="rating5" value="5" required><label for="rating5" title="5"></label>
                                    <input type="radio" name="rating" id="rating4" value="4" required><label for="rating4" title="4"></label>
                                    <input type="radio" name="rating" id="rating3" value="3" required><label for="rating3" title="3"></label>
                                    <input type="radio" name="rating" id="rating2" value="2" required><label for="rating2" title="2"></label>
                                    <input type="radio" name="rating" id="rating1" value="1" required><label for="rating1" title="1"></label>
                                </div>
                                <br>
                                <input type="text" class="form-control" name="subject" placeholder="Review Title">
                                <br>
                                <textarea name="review" rows="4" class="form-control" placeholder="Write your review here..."></textarea>
                                <br>
                                <input type="submit" value="Submit Review" class="btn btn-blue">
                            
                            </div>
                        </form>
                    {% else %}
                        <p>Would you like to rate this product? <span class="text-blue"><a href="{% url 'account_login' %}">Login here.</a></span></p>
                    {% endif %}
                    <br>
                    <header>
                        <h5 class="text-blue">Customer Reviews</h5>
                    </header>
                    {% for review in reviews %}
                        <article class="box mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <span class="date text-muted float-md-right"><small>{{ review.submitted }}</small></span>
                                    <h6 class="mb-1 font-weight-bold">{{ review.full_name }}</h6>
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                    <p>{{ review.rating }}</p>
                                </div>
                                <div class="mt-3">
                                    <p class="font-italic offset-1">{{ review.subject}}</p>
                                    <p class="offset-1">{{ review.review }}</p>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>    
            </div>
            
        </div>
    </div>    
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}